<div class="textConfirmation-inner component-inner" role="region" aria-label="{{_globals._components._text.ariaRegion}}">
    {{> component this}}
    <div class="textConfirmation-widget">
        <input id="confirmationCb" class="confirmationCb" type="button" value="{{confirmationLabel}}">
    </div>
</div>